@{
    ViewData["Title"] = "Countries List";
}

<div class="text-center">
    <h1 class="display-4">Countries list</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    <ul>
        @foreach(string strCountry in ViewBag.Countries)
            {
                <li>@strCountry</li>
            }
    </ul>
</div>
